<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633330394164-tsgq75n3h3pot9oag0e68n88euu14t8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633330394164-tsgq75n3h3pot9oag0e68n88euu14t8k</string>
	<key>API_KEY</key>
	<string>AIzaSyBoTn0VOHzx4zVbFrrODicwBVQcHjdg7fM</string>
	<key>GCM_SENDER_ID</key>
	<string>633330394164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naksnaps.grocr</string>
	<key>PROJECT_ID</key>
	<string>grocr-9723e</string>
	<key>STORAGE_BUCKET</key>
	<string>grocr-9723e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633330394164:ios:8a9d6742393631f8e35661</string>
</dict>
</plist>